nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    margin: 1px;;
    padding: 1px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

header {
    background-color: black;
    padding: 0px 0;
}

li {
    margin: 0;
}

a {
    text-decoration: none;
    color: orange;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    transition: color 0.3s;
}

a:hover{
    color: white;
}

body {
    font-family: Helvetica;
    background: #535349;
    background-image: url(breathtaking-view-zugspitze-lake-surrounded-with-forests-eibsee.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: #eee;
}

h3 {
    font-variant: small-caps;
    color: #eee;
}

h2 {
    margin-bottom: 2rem;
    color: #eee;
}

.container {
    display: grid;
    place-items: center;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.text {
    text-align: justify;
    align-items: center;
    justify-content: center;
    place-items: center;
    padding-left: 50px;
    padding-right: 50px;
    color: #eee;
}

.Cdetails {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 200px;
}

a button {
    text-decoration: none;
}

.button-containers button {
    border: none;
    background: none;
    padding: 20px;
    margin: 0;
    cursor: pointer;
}

button:hover { 
    color: white;
}

.button-containers button i {
    font-size: 50px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.button-containers button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
}

.picture {
    width: 500px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    place-items: center;
    border-radius: 24px;
}









